@import '../variables.scss';

.header{
    flex: 1;

    display: flex;  
    justify-content: center;

    background-color: $mainColor;

    z-index: 1;
    .userName{       
        flex: 2;
        display: flex; 
        justify-content: center;
        align-items: center;        
        font-size: 1.25rem;
        margin: 0;                   
    }

    .roomName{
        flex: 5;
        display: flex;         
        align-items: center;        
        font-size: 1.25rem;
        color: white;
        font-weight: bold;
        padding-left: 1rem;
    }

    a{        
        flex: 1;
        background: #AAA;        
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
}