@import '../variables.scss';

$defaultMessageBackground: #ECECEC;

.group{
    position: relative;    
    margin-bottom: 1.5rem;            

    background-color: $defaultMessageBackground;

    .sender{
        position: absolute;
        top: -0.8rem;
        left: 0.75rem;
        background-color: white;
        padding: 0 0.5rem;      
        border-radius: 0.25rem;      
        box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, .25);
    }    

    ul{      
        list-style: none;
        padding: 1.25rem 1rem 1rem 1rem;
        margin: 0;         
    }           

  

    &.your{
        background-color: #90CAF9; 
    }

    &.fromServer{        
        background-color: transparent;
        margin-top: -0.5rem;
        li{
            display: inline-block;          
            margin-right: 0.5rem;              
            font-size: 1rem;
            font-weight: 700;            
        }
        ul{
            padding: 0.1rem;
        }
    }
}