:global{  
  .rise :local {
    animation-name: rise;
    animation-duration: 3s;   
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes rise {
    0% {
      font-size: 100%;
      opacity: 1;
    }    
    59% {
      opacity: 1
    }
    60% {
      opacity: 0.55;
    }
    65% {
      opacity: 1;
    }
    70% {
      opacity: 0.45;
    }
    75% {
      opacity: 1;
    }
    77% {
      opacity: 0.2;
    }
    79% {
      opacity: 0.8;
    }
    83% {
      opacity: 0.2;
    }
    84% {
      opacity: 1;
    }
    86% {
      opacity: 0.1;
    }
    87% {
      opacity: 0.8;
    }

    90% {
      opacity: 0.1;
    }
    92% {
      opacity: 1;
    }
    94% {
      opacity: 0.1;
    }
    96% {
      opacity: 1;
    }
    98% {
      opacity: 0.05;
    }

    100% {
      opacity: 1;
      font-size: 500%;
    }
  }
}