@import 'variables.scss';

.Chat{

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;         

    .messages{        
        flex: 12;
        overflow-y: scroll;
        font-size: 1.25rem;       
        padding: 1rem;                 
        list-style: none;        
    }  

    .message{                  
        img, iframe{
            @media screen and (max-width: $mobileBreak){
                width: 100%;
            }            
        }
    }

    form{
        flex: 1;
        display: flex;        
        position: relative;        
        border-top: 2px solid $mainColor;        
        input{      
            flex: 3;      
            width: 100%;
            border: none;      
            font-size: 2rem;
            text-indent: 1rem;
            padding-right: 0.5rem;
            overflow-y: auto;
            white-space: pre-wrap;
            word-wrap: break-word;            
        }
        button{   
            flex: 1;           
        }

        @media screen and (max-width: $mobileBreak){
            input{
                font-size: 1rem;            
            }
        } 
    }     
}     