@import 'variables.scss';

.Chat{

    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;         

    background-color: #FAFAFA;

    .messagesContainer{
        flex: 12;
        overflow-y: scroll;          
        padding: 1rem 1rem 0 1rem;                
        list-style: none;        
    }  

      .message{
        line-height: 1.34;       
        word-wrap: break-word;
        white-space: pre-wrap;  

        transition: all 50ms ease;

        img{
            max-width: 100%;
            height: auto;
        }

        .showImageBar{
            margin-top: 5px;
            padding: 10px;
            background: white;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
        }      

        @media screen and (max-width: $mobileBreak){
            img, iframe{
                width: 100%;                    
            }
        }
    }

    textarea, button{
        font-size: 100%;
    }

    .chatControl{
        flex: 1 0 auto;
        display: flex; 
        max-height: 2.5rem;       
        position: relative;                        
        border-top: 1px solid rgba(0, 0, 0, .25);
        .messageInput{      
            flex: 3;                  

            color: black;

            width: 100%;
            border: none;                              
            padding: 1rem;
            overflow-y: auto;
            white-space: pre-wrap;            

            &::placeholder{
                color: rgba(0, 0, 0, .55);
            }       
        }
        button{   
            user-select: none;
            flex: 1;      
            font-size: 16px;     
        }
    }     
}     

.isTypingBox{
    position: fixed;
    bottom: 2.5rem;
    left: 1rem;
}