@import url('https://fonts.googleapis.com/css?family=Roboto');

$mainColor: #FFB74D;

body, html, body > div{
  height: 100%; 
  width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
  height: 100%;  
  font-family: 'Roboto', sans-serif;        
}

 button{     
  border: none;
  font-size: 1.6rem;
  font-weight: 700;            
  background: #03A9F4;        
  color: #ffffff;      
  text-decoration: none;      
  &:hover {
    background: #3cb0fd;        
    text-decoration: none;
  }
  &:active{
    background: #1cb05d;        
  }
} 

.chat{  
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;  

  &.blurred{
    filter: blur(0.15rem);
  }

  transition: all 0.5s ease;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.chatBox{
  display: flex;
  flex-direction: column;  
  width: 100%;
  height: 100%;  
  header{    
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: $mainColor;    
    padding-left: 1rem;
    
    z-index: 1;    
    h2{
      font-size: 1.25rem;
      color: white;
      font-weight: bold;
    }
  }
  .chatMessages{                    
    flex: 8;
    overflow-y: scroll;
    font-size: 1.25rem;
    ul{      
      list-style: none;
      padding: 0.8rem 1rem 1rem 1rem;
      margin: 0;    
      li{
        background-color: #e9ebee;
        border-radius: 0.5rem;
        margin-bottom: 0.75rem;
        padding: 0.5rem;      
        line-height: 1.25;        
        &:nth-child(2n){
          background-color: rgb(84, 199, 236);   
          color: white;
        }
        span{
          padding-right: 0.25rem;
        }
      }        
    }
  }  
  .chatControl{
    flex: 1;
    display: flex;        
    position: relative;        
    border-top: 2px solid $mainColor;        
    input{      
      flex: 3;      
      width: 100%;
      border: none;      
      font-size: 2rem;
      text-indent: 1rem;
      padding-right: 0.5rem;
    }
    button{   
      flex: 1;           
    } 
  }     
}

.messagesData{
    position: absolute;
    right: 0;
    top: 0;    
    width: 40%;
    padding: 1rem;
}

.nameInputLayout{  
  position: absolute;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .80); 

  transition: all 0.25s ease;   

  .box{
    width: 50%;
    margin: 0 auto;
    background-color: rgba($mainColor, 0.95);
    padding: 3rem;

    display: flex;        
    flex-direction: column;    

    label, input{         
      color: black;      
      font-weight: 700;
    }  
    label{
      font-size: 2rem;    
      flex: 1;      
    }
    input {   
      flex: 3;      
      margin-top: 1.5rem;
      padding: 1rem;            
      background-color: transparent;    
      border: 0.2rem solid white;      
    } 
  }   

  button{
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 100%;
    height: 3rem;    
  }
}

.languageSelectBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  ol{
    display: flex;
    list-style: none;
    li{
      display: flex;
      flex: 1;        
      button{        
        flex: 1;        
        height: 2rem;
      }
    }
  }
}